
body{
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
}
main{
  height: 100%;
  width: 100%;
  background-color: #000000;
}
.top{
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
}
.first{
  color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.top1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.solanaIMG{
  margin-right: 600px;
  width: 181px;
  height: 27px;
  flex-shrink: 0;
  margin-top: 10px;
}
a{
  margin-right: 60px;
  text-decoration: none;
  color: #848895;
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.top2{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  margin-top: 182px;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 1px;
}
.h1textunder{
  width: 589px;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.top3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 174px;
}
.start{
  width: 250px;
  display: inline-flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
}
.startTEXT{
  margin-left: 45px;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.read{
  margin-left: 20px;
  width: 250px;
  display: inline-flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #000;
}
.readTEXT{
  margin-left: 65px;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.nevaznio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nevazhno{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 704px;
  color: #618ADC;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sponsors{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
img{
  height: 35px;
  margin: 20px;
}
.middle{
  margin-top: 100px;
  display: inline-flex;
  height: 690px;
  padding: 124.594px 296px 125.406px 303px;
  justify-content: flex-end;
  align-items: start;
  flex-shrink: 0;
}
h2{
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.m11\.5M{
  margin: 0;
  font-family: sans-serif;
  font-size: 101px;
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active{
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.mid1{
  margin-top: 70px;
  margin-right: 290px;
  margin-left: 80px;
}
.m21\.9M{
  margin: 50px 0 0 0;
  font-family: sans-serif;
  font-size: 106px;
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  background:  linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nftmined{
  margin: 16px 0;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.dolar\$0\.00025{
  margin: 50px 0 0 0;
  font-family: sans-serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Averagecost{
  margin: 16px 0;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.middle2 {
  margin-left: 80px;
  display: inline-flex;
  height: 690px;
  padding: 124.594px 250px 125.406px 303px;
  justify-content: flex-end;
  align-items: start;
  flex-shrink: 0;
}
.column1, .column2, .column3{
  width: 420px;
}
.uno1, .uno5, .two1, .two5{
  color: #FFF;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
.uno2, .uno6, .two2, .two6{
  width: 270px;
  color: #C4C4C4;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.envor{
  margin: 0;
  color: #19FB9B;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration-line: underline;
}
.uno3, .uno7, .two3, .two7{
  margin: 0 0 10px 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.uno4, .uno8, .two4, .two8{
  margin: 0;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.middle3{
  display: inline-flex;
  padding: 124.594px 266px 0.219px 273px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.head2{
  display: flex;
  width: 1300px;
  height: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.headik1{
  margin: 0 0 0 90px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.DeFi, .DAOs , .Gaming, .Payments{
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 1px solid #111;
  background: #111;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.NFTs{
  padding: 5px 10px 5px 10px;
  margin-left: 450px;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-radius: 15px;
  border: 1px solid #A962FF;
  background: #111;
}
.obgortka{
  margin: 0;
  display: flex;
  width: 1300px;
  height: 430px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.nftimage{
  margin: 0 0 0 100px;
  width: 570px;
  height: 395px;
}
.infonft{
  margin: 0 10px 0 0;
  width: 490px;
  height: 320px;
  border-radius: 0 15px 15px 0;
  border: 0;
  background: #111;
  padding: 40px;
}
.downpurple{
  margin: 60px 0 0 0;
  width: 240px;
  height: 52.568px;
  flex-shrink: 0;
}
.nfttext{
  width: 439px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.nftpurple{
  color: #A962FF;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.sponsors2{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 100px;
  flex-shrink: 0;
}
.img111{
  margin-left: 200px;
}
.img222{
  margin-right: 0;
  margin-left: 200px;
}
.img333{
  margin-right: 0;
  margin-left: 50px;
}
.pidpis{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}
.paragraph1{
  margin: 100px 0 0 380px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.foto{
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.odin-dva{
  margin-top: 57px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:column;
  width: 15%;
  height: 500px;

}
.foto1{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:column;
  width: 85%;
  height: 135px;
  background: #111;
  padding: 39px 20px 41px 20px;
}
.pershiy{
  margin: 30px 0 10px 0;
  color: #F087FF;
  text-align: center;
  font-family: sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.pershiy2{
  margin: 0;
  color: #BABABA;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}
.foto2{
  margin:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 210px;
}
.fotka2{
  margin: 0;
  width: 100%;
  height: 100%;
}
.tri{
  margin: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 445px;
}
.fotka3{
  margin: 0;
  height: 100%;
  width: 100%;
}
.chotiri-pyat{
  margin-left: 20px;
  margin-top: 57px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:column;
  width: 15%;
  height: 500px;
}
.chotiri{
  margin:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 210px;
}
.fotka4{
  margin: 0;
  height: 100%;
  width: 100%;
}
.pyat{
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 135px;
  background: #111;
  padding: 39px 25px 41px 25px;
}
.pyatiytext{
  margin-top: 20px;
  margin-bottom: 10px;
  color: #19FB9B;
  text-align: center;
  font-family: sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;

}
.pyatiytext2{
  margin-top: 0;
  color: #BABABA;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}
.shict{
  margin: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 17%;
  height: 445px;
}
.fotka6{
  margin: 0;
  height: 100%;
  width: 100%;
}
.sim-8{
  margin-left: 0;
  margin-top: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:column;
  width: 20%;
  height: 500px;
}
.sim{
  margin-bottom: 20px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: #111;
}
.simtext{
  margin: 65px 0 0 0;
  color: #FFEB3B;
  text-align: center;
  font-family: sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.simtext2{
  margin: 0;
  color: #BABABA;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}
.visim{
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 225px;
}
.fotka8{
  margin: 0;
  height: 100%;
  width: 100%;
}
.konec{
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 200px;
}
.konectext{
  width: 736px;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.buttonsLAst{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 174px;
}
.kinec1{
  width: 250px;
  display: inline-flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
}
.kinecTEXT{
  margin-left: 45px;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.pusto{
  margin: 0;
  display: flex;
  width: 100%;
  height: 300px;
}
.kvitka{
  display: flex;
  justify-content: center;
  align-items: center;
}
.kvitka1{
  margin: 0 0 60px 0;
}
.frameq{
  margin: 0;
  width: 31px;
  height: 27px;
  flex-shrink: 0;
}
.twitter{
  margin: 0;
  width: 200px;
  height: 15px;
}
.textk2{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.textk4{
  color: #848895;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.pustishka{
  margin: 0;
  display: flex;
  width: 310px;
  height: 275px;
}
.kvitka2{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
a{
  text-decoration: none;
}
.textk5{
  margin: 0 0 10px 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.textk6, .textk7, .textk8, .textk9, .textk10{
  margin: 0 0 10px 0;
  color: #848895;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: start;
}
.kvitka3{
  margin: 0 0 75px 80px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.textk11{
  margin: 0 0 10px 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.textk12, .textk13, .textk14{
  margin: 0 0 10px 0;
  color: #848895;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: start;
}
.kvitka4{
  margin: 0 0 200px 80px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.imgkvitka{
  margin: 20px 0 0 0;
  width: 19px;
  height: 20px;
  flex-shrink: 0;
}
.textk15{
  margin: 0 0 10px 10px;
  color: #848895;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
button:hover{
  opacity: .7;
}
a:hover{
  opacity: .20;
}
.textk3{
  margin: 0 0 0 12px;
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitter1, .twitter2, .twitter3, .twitter5, .twitter6{
  margin: 0 10px 0 0;
  background: #848895;
  width: 20px;
  height: 16px;
  flex-shrink: 0;
  padding: 2px 4px;
}
.twitter4{
  margin: 0 10px 0 0;
  background: #848895;
  border-radius: 7px;
  width: 20px;
  height: 16px;
  flex-shrink: 0;
  padding: 2px 2px;
}
.twitter1:hover, .twitter2:hover, .twitter3:hover, .twitter5:hover, .twitter4:hover, .twitter6:hover{
  opacity: .70;
}
.form-select{
  margin: 0;
  width: 50px;
  background-color: black;
  color: #848895;
  border: 0 solid black;
}
.iconform{
  margin: 0;
  height: 17px;
  width: 17px;
}
